<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.mapper.MessageMapper">

	<select id="findRoom" resultType="int" parameterType="com.project.domain.MessageVO">
	    select room_id
	     from msg_room_participant
	     where receiver in (#{sender.emp_id}, #{receiver.emp_id})
	     group by room_id
	     having count(distinct receiver) = 2
	     and (select count(*) from msg_room_participant where room_id = msg_room_participant.room_id) = 2
	</select>

	<insert id="createRoom" parameterType="MessageVO">
	    INSERT INTO msg_room (room_name)
	    VALUES (CONCAT(#{sender.emp_name}, ', ', #{receiver.emp_name}))
	</insert>
     
    <select id="selectLastRoomId" resultType="int">
	SELECT LAST_INSERT_ID()
	</select>
	
	<insert id="insertRoom_participant" parameterType="MessageVO">
	INSERT INTO msg_room_participant (room_id, receiver)
            VALUES (#{room_id}, #{receiver.emp_id})
	</insert>	
	
	<insert id="sendMessage" parameterType="MessageVO">
	INSERT INTO messages (room_id, sender, msg_content) 
	 VALUES (#{room_id}, #{sender.emp_id}, #{msg_content})
	</insert>
	
	<select id="getMessages" parameterType="MessageVO" resultType="MessageVO">
	    select m.*,r.room_name, rp.role
	     from messages m
	     join msg_room r on m.room_id = r.room_id
	     join msg_room_participant rp on r.room_id = rp.room_id
	     where r.room_id = #{room_id} 
	     and m.msg_date > rp.join_date;
	</select>
	
</mapper>  
  