<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.mapper.MessageMapper">

	<resultMap id="getMessagesResultMap" type="com.project.domain.MessageVO">
	    <id property="msg_id" column="msg_id"/>
	    <result property="msg_date" column="msg_date"/>
	    <result property="msg_reader" column="msg_reader"/>
	    <result property="msg_unreader" column="msg_unreader"/>
	    <result property="msg_unread_count" column="msg_unread_count"/>
	    <result property="msg_content" column="msg_content"/>
	    
	    <result property="room_id" column="room_id"/>
	    <result property="room_name" column="room_name"/>
	    <result property="room_admin" column="room_admin"/>
	    <result property="room_created_date" column="room_created_date"/>
	    <result property="room_last_message_date" column="room_last_message_date"/>
	    <result property="room_join_date" column="room_join_date"/>
	    
	    <!-- msg_sender는 MemberVO로 매핑 -->
	    <association property="msg_sender" javaType="com.project.domain.MemberVO">
	        <id property="emp_id" column="msg_sender_emp_id"/>
	        <result property="emp_name" column="msg_sender_emp_name"/>
	        <result property="emp_dnum" column="msg_sender_emp_dnum"/>
	        <result property="emp_bnum" column="msg_sender_emp_bnum"/>
	        <result property="emp_position" column="msg_sender_emp_position"/>
	        <result property="emp_job" column="msg_sender_emp_job"/>
	        <result property="emp_profile" column="msg_sender_emp_profile"/>
	    </association>
	</resultMap>

	<select id="findRoom" resultType="int">
        WITH RoomWithTwoPeople AS (
            SELECT room_id
            FROM msg_room_participant
            GROUP BY room_id
            HAVING COUNT(room_people) = 2
        )
        SELECT room_id
        FROM msg_room_participant
        WHERE room_id IN (SELECT room_id FROM RoomWithTwoPeople)
          AND room_people IN (#{sender_emp_id}, #{receiver_emp_id})
        GROUP BY room_id
        HAVING COUNT(DISTINCT room_people) = 2;
    </select>

    <select id="selectLastRoomId" resultType="int">
	SELECT LAST_INSERT_ID()
	</select>
	
	<select id="getMessages" resultMap="getMessagesResultMap">
	    SELECT 
	        m.msg_id, 
	        m.msg_date, 
	        m.msg_unread_count, 
	        m.msg_content,
	        r.room_id, 
	        r.room_name, 
	        r.room_admin, 
	        e.emp_id AS msg_sender_emp_id, 
	        e.emp_name AS msg_sender_emp_name, 
	        e.emp_profile AS msg_sender_emp_profile, 
	        e.emp_dnum AS msg_sender_emp_dnum, 
	        e.emp_bnum AS msg_sender_emp_bnum, 
	        e.emp_position AS msg_sender_emp_position, 
	        e.emp_job AS msg_sender_emp_job
	    FROM 
	        messages m
	    JOIN 
	        msg_room r ON m.room_id = r.room_id
	    JOIN 
	        employee e ON m.msg_sender = e.emp_id
	    WHERE 
	        m.room_id = #{room_id}
	</select>
	
	<insert id="insertMsgRoom" parameterType="MessageVO">
	    INSERT INTO msg_room (room_name, room_admin)
	     VALUES (
	         CONCAT(#{personal_sender_emp_name}, ',', #{personal_receiver_emp_name}),
	         #{personal_sender_emp_id}
	     )
	</insert>
	
	<insert id="insertParticipant" parameterType="MessageVO">
	    INSERT INTO msg_room_participant (room_id, room_people)
	     VALUES (
	         #{room_id},#{enter_emp_id}
	     )
	</insert>
	
	<insert id="sendMessage" parameterType="MessageVO">
	    INSERT INTO messages (room_id, msg_sender, msg_content, msg_unreader, msg_unread_count, msg_alarm_token)
	    VALUES (
	        #{room_id},
	        #{personal_sender_emp_id},
	        #{msg_content},
	        (
	            SELECT GROUP_CONCAT(room_people SEPARATOR ',')
	            FROM msg_room_participant
	            WHERE room_id = #{room_id}
	              AND room_people != #{personal_sender_emp_id}
	        ),
	        (
	            SELECT COUNT(*)
	            FROM msg_room_participant
	            WHERE room_id = #{room_id}
	              AND room_people != #{personal_sender_emp_id}
	        ),
	        (
	            SELECT GROUP_CONCAT(room_people SEPARATOR ',')
	            FROM msg_room_participant
	            WHERE room_id = #{room_id}
	              AND room_people != #{personal_sender_emp_id}
	        )
	    )
	</insert>
	
	<select id="selectRoomList" resultType="MessageVO">
	    SELECT r.room_id, 
           r.room_name, 
           r.room_last_message, 
           r.room_last_message_date, 
           r.room_last_sender_name, 
           r.room_last_sender_position, 
           (SELECT COUNT(m.msg_id)
            FROM messages m
            WHERE m.room_id = r.room_id
              AND m.msg_unreader LIKE CONCAT('%', #{emp_id}, '%')
           ) AS room_alarm_count
	    FROM msg_room r
	    WHERE r.room_id IN (
	        SELECT p.room_id
	        FROM msg_room_participant p
	        WHERE p.room_people = #{emp_id}
	    )
	</select>
	
	<select id="checkReadOrNot" resultType="Integer" parameterType="MessageVO">
	    SELECT msg_id 
	    FROM messages 
	    WHERE room_id = #{room_id} 
	      AND msg_unreader LIKE CONCAT('%', #{msg_reader}, '%');
	</select>
	
	<update id="updateMessageReader" parameterType="MessageVO">
	    UPDATE messages
	     SET 
	   		 msg_unreader = TRIM(BOTH ',' FROM REPLACE(CONCAT(',', IFNULL(msg_unreader, ''), ','), CONCAT(',', #{msg_reader}, ','), ',')),
	   		 msg_alarm_token = TRIM(BOTH ', ' FROM REPLACE(CONCAT(', ', INFULL(msg_alarm_token, ''), ', '), CONCAT(', ', #{msg_reader}, ', '), ', '))
   			 msg_unread_count = msg_unread_count - 1
	   		 WHERE room_id = #{room_id}
	    	 AND msg_id IN 
	      <foreach item="msg_id" collection="msg_id" open="(" separator="," close=")">
	     	 #{msg_id}
	      </foreach>;
	</update>
	
	<update id="updateRoomInfo" parameterType="MessageVO">
		update msg_room
		set room_last_message = #{msg_content}, room_last_message_date = now(),
		room_last_sender_name = #{personal_sender_emp_name}, room_last_sender_position = #{personal_sender_emp_position}
		where room_id = #{room_id}
	</update>
	
	<select id="getSearchedRoomList" resultType="Integer" parameterType="map">
	    WITH user_rooms AS (
	        SELECT p.room_id
	        FROM msg_room_participant p
	        WHERE p.room_people = #{emp_id}
	    )
	    SELECT DISTINCT r.room_id
	    FROM msg_room r
	    LEFT JOIN messages m ON r.room_id = m.room_id
	    WHERE r.room_id IN (
	        SELECT room_id FROM user_rooms
	    )
	    AND (
	        REPLACE(r.room_name, ' ', '') LIKE CONCAT('%', #{keyword}, '%')
	        OR
	        REPLACE(m.msg_content, ' ', '') LIKE CONCAT('%', #{keyword}, '%')
	    );
	</select>
	
	<select id="getSearchedRoom" resultType="MessageVO">
	    SELECT r.room_id, 
           r.room_name, 
           r.room_last_message, 
           r.room_last_message_date, 
           r.room_last_sender_name, 
           r.room_last_sender_position, 
           (SELECT COUNT(m.msg_id)
            FROM messages m
            WHERE m.room_id = r.room_id
              AND m.msg_unreader LIKE CONCAT('%', #{emp_id}, '%')
           ) AS room_alarm_count
	    FROM msg_room r
	    WHERE r.room_id IN 
	      <foreach item="room_id" collection="room_id" open="(" separator="," close=")">
	          #{room_id}
	      </foreach>
	</select>
	
	<update id="updateRoomName" parameterType="MessageVO">
		update msg_room
		set room_name = CONCAT (room_name, ', ' ,#{enter_emp_name})
		where room_id = #{room_id}
	</update>
	
	
	<delete id="deleteParticipant" parameterType="MessageVO">
	    DELETE FROM msg_room_participant
	     WHERE room_id = #{room_id}
	       AND room_people = #{enter_emp_id}
	</delete>
	
	<update id="deleteRoomName" parameterType="MessageVO">
	    UPDATE msg_room
	    SET room_name = TRIM(BOTH ', ' FROM REPLACE(CONCAT(', ', IFNULL(room_name, ''), ', '), CONCAT(', ', #{enter_emp_name}, ', '), ', '))
	    WHERE room_id = #{room_id}
	</update>
	
	<select id="getPersonalInfo" parameterType="int" resultType="com.project.domain.MemberVO">
	    SELECT e.emp_id, 
	           e.emp_profile
	    FROM msg_room_participant p
	    JOIN employee e ON p.room_people = e.emp_id
	    WHERE p.room_id = #{room_id}
	</select>
	
	<insert id="systemMessage" parameterType="MessageVO">
	    INSERT INTO messages (room_id, msg_sender, msg_content)
	    VALUES (
	        #{room_id},
	        'system',
	        #{msg_content}
	    )
	</insert>
	
	<select id="messageSmallAlarm" parameterType="String" resultType="MessageVO">
	    SELECT *
	    FROM messages
	    WHERE msg_unreader LIKE CONCAT('%', #{emp_id}, '%')
	</select>
	
	<select id="messageRealtimeAlarm" parameterType="String" resultType="MessageVO">
	    SELECT *
	    FROM messages
	    WHERE msg_alarm_token LIKE CONCAT('%', #{emp_id}, '%')
	</select>
	
	<update id="updateMessageAlarmToken" parameterType="MessageVO">
	    UPDATE messages
	    SET msg_alarm_token = TRIM(BOTH ', ' FROM REPLACE(CONCAT(', ', INFULL(msg_alarm_token, ''), ', '), CONCAT(', ', #{emp_id}, ', '), ', '))
	    WHERE msg_id = #{msg_id}
	</update>
	
</mapper>  
  